.mt5 {
  height: 100vh;
  width: 100vw;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

#divContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

#divContainer div {
  flex: 1;
}

#landingImage {
  width: 50%;
  height: 50%;
}
