.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.row a {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.8rem;
  color: white;
  border-radius: 15px;
}
